# Dependencias
node_modules/

# Variables de entorno
.env
.env.local

# Sesion de WhatsApp (NUNCA subir esto a git)
auth_session/
*.session

# Logs
*.log
npm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
